.idea/
.venv/
venv/
__pycache__
data/
dll/*.exp
dll/*.lib
dll/*.pdb
algorithm/build

dll/Debug/*.exp
dll/Debug/*.lib
dll/Debug/*.pdb

dll/Release/*.exp
dll/Release/*.lib
dll/Release/*.pdb

*.txt
!requirements.txt
